* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #171717;
}

section {
    width: 100vw;
    height: 100vh;
    background: #171717;
    margin-bottom: -60px;
}

/* Navigation Bar */
section nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 8px 5%;
    margin-bottom: 20px;
    background: #171717;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


.checkbtn{
    display: none;
    float: right;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    color: white;
    cursor: pointer;
}

#check{
    display: none;
}

section nav .logo h1{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

section nav .logo:hover h1:after{
    content: ' CHOICES';
    color: #ffd500;
    transition: 0.5s;
}

section nav .right ul{
    list-style: none;
}

section nav .right ul li{
    display: inline-block;
    margin: 0 5px;
}

section nav .right ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.8s;
}

section nav .right ul li a:hover{
    color: #ffd500;
}

/* Slides */
.swiper {
    width: 95vw;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 60px;
  }


.swiper::selection {
    user-select: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.swiper-slide .image .black{
    width: 100%;
    height: 101%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.swiper-slide .image .black h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    top: 60%;
    left: 5%;
    color: #fff;
}

.swiper-slide .image .black .star{
    color: #ffd500;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
}

.swiper-slide .image .black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    font-family: "Roboto", sans-serif;
}

.swiper-slide .image .black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
}

.swiper-slide .image .black .genre a.category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 7px;
}

.swiper-slide .image .black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
}

.swiper-slide .image .black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-slide .image .black .watch p{
    position: relative;
    left: 15px;
    font-family: sans-serif;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper {
    margin-left: auto;
    margin-right: auto;
  }

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  opacity: 0;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  opacity: 0;
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  display: none;
}

/*Popular Movies*/

.second{
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #171717;
  }
  
  .second .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .second .latest h1{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .second .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .second .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .second .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
  
  .second .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .second .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .second .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .second .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .second .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .second .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .second .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .second .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .second .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .second .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .second .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .second .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .second .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .second .latest .box .card .details .right{
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .second .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .second .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /*Upcoming Movies*/
  
  .upcoming{
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #171717;
  }
  
  .upcoming .movies_box{
    width: 95%;
    margin: 0 auto;
  }
  
  .upcoming .movies_box h1{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  .upcoming .movies_box .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .upcoming .movies_box .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .upcoming .movies_box .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .upcoming .movies_box .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
  
  .upcoming .movies_box .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .upcoming .movies_box .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .upcoming .movies_box .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .upcoming .movies_box .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .upcoming .movies_box .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .upcoming .movies_box .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .upcoming .movies_box .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .upcoming .movies_box .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .upcoming .movies_box .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .upcoming .movies_box .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .upcoming .movies_box .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .upcoming .movies_box .box .card .details .right{
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .upcoming .movies_box .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .upcoming .movies_box .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .upcoming .movies_box .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /*Popular Shows*/
  
  .show{
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #171717;
  }
  
  .show .tv_show{
    width: 95%;
    margin: 0 auto;
  }
  
  .show .tv_show h1{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .show .tv_show .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .show .tv_show .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .show .tv_show .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .show .tv_show .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
  
  .show .tv_show .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .show .tv_show .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .show .tv_show .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .show .tv_show .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .show .tv_show .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .show .tv_show .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .show .tv_show .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .show .tv_show .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .show .tv_show .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .show .tv_show .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .show .tv_show .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .show .tv_show .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .show .tv_show .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .show .tv_show .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .show .tv_show .box .card .details .right{
    position: absolute;
    right: 20px;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .show .tv_show .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .show .tv_show .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .show .tv_show .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /*Footer*/

  .newsletter{
    width: 100vw;
    height: auto;
    padding: 0 0 40px 0;
    background-color: #171717;
  }
  
  .newsletter h1{
    text-align: center;
    color: #ffe100;
  }
  
  .newsletter .news_card{
    width: 41vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .newsletter .news_card input{
    width: 550px;
    height: 55px;
    margin-top: 20px;
    border-radius: 35px;
    border: 3px solid #ffe100;
    padding: 0 10px;
    outline: none;
    background: none;
    color: #cccccc;
  }
  
  .newsletter .news_card button{
    position: absolute;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 8px;
    border: 0;
    outline: none;
    background-color: #ffe100;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }
  
  
  p.end{
    background: #171717;
    text-align: center;
    color: #cccccc;
    padding: 15px 0;
  }
  
  p.end span{
    color: #ffe100;
  }
  
  p.end span i{
    margin: 0 8px;
  }

  /*Media Queries*/

  @media only screen and (max-width: 2560px) {
    section{
      height: 88vh;
    }
  }

  @media only screen and (max-width: 1440px) {
    section{
      height: 90vh;
    }

  }

  @media only screen and (max-width: 1024px) {
    .box {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 20px; 
    }

    h1 {
      text-align: center;
    }

    section {
      height: 83vh;
    }
  }

  @media only screen and (max-width: 768px) {
    .newsletter .news_card{
      width: 65vw;
    }

    .box {
      margin: 0 40px 0 40px;
    }

    section {
      height: 68vh;
      margin-bottom: 1px
    }

    .swiper-slide .image .black h1 {
      top: 40%;
    }

    .swiper-slide .image .black .star {
      top: 40%;
    }

    .swiper-slide .image .black p {
      top: 40%; 
    }

    .swiper-slide .image .black .genre {
      left: 5%;
      top: 40%;
    }

    .swiper-slide .image .black .watch {
      top: 40%;
    }

  
  }
  


    @media only screen and (max-width: 425px) {

      .checkbtn{
        display: block;
      }
  
      #check:checked ~ ul{
        left: 0;
      }

      #check:checked ~ .logo {
        display: none;
      }

      .box{
        margin-left: 65px;
      }

      h1 {
        text-align: center;
      }

      .newsletter .news_card{
        width: 75vw;
      }

      section {
        height: 38vh;
        margin-bottom: 10px;
      }

      section nav .right ul {
        text-align: center;
        width: 65vw;
        margin-right: 70px;
        font-size: 22px;
    }

    .swiper {
      margin-top: 100px;
    }
  

    
      .swiper-slide .image .black h1 {
        top: 37%;
        font-size: 20px;
      }

      .swiper-slide .image .black .star {
        top: 33%;
      }

      .swiper-slide .image .black p {
        font-size: 10px;
        top: 30%; 
      }

      .swiper-slide .image .black .genre {
        font-size: 10px;
        left: 5%;
        top: 27%;
      }

      .swiper-slide .image .black .watch {
        top: 25%;
      }

      section nav .right ul {
        display: none;
      }

      .latest {
        margin-top: 40px;
      }

      section nav .logo h1 {
        margin-right: 70px;
        font-size: 27px;
      }
    }

    @media only screen and (max-width: 375px) {

      .box{
        margin-left: 45px;
      }

      h1 {
        text-align: center;
      }

      .newsletter .news_card{
        width: 75vw;
      }

      section nav .right ul {
        text-align: center;
        width: 70vw;
        margin-right: 100px;
        font-size: 20px;
    }

    section {
      height: 33vh;
      margin-bottom: 5px;
    }

    .swiper-slide .image .black h1 {
      top: 33%;
      font-size: 15px;
    }

    .swiper-slide .image .black .star {
      top: 31%;
    }

    .swiper-slide .image .black p {
      font-size: 10px;
      top: 26%; 
    }

    .swiper-slide .image .black .genre {
      font-size: 10px;
      left: 5%;
      top: 20%;
    }

    .swiper-slide .image .black .watch {
      top: 16%;
    }


    }

    @media only screen and (max-width: 320px) {

      .box{
        margin-left: 23px;
      }

      h1 {
        text-align: center;
      }

      section nav .right ul {
        text-align: left;
        width: 80vw;
        font-size: 20px;
    }

    section {
      height: 28vh;
      margin-bottom: 5px;
    }

    .swiper-slide .image .black h1 {
      top: 27%;
      font-size: 14px;
    }

    .swiper-slide .image .black .star {
      top: 21%;
    }

    .swiper-slide .image .black p {
      font-size: 10px;
      top: 13%; 
    }

    .swiper-slide .image .black .genre {
      font-size: 10px;
      left: 5%;
      top: 6%;
    }

    .swiper-slide .image .black .watch {
      top: 3%;
    }

    section nav .right ul li a {
      font-size: 14px;
    }

    .second .latest .box .card .details {
      width: 226px;
    }

    .upcoming .movies_box .box .card .details {
      width: 226px;
  }

  .show .tv_show .box .card .details {
    width: 226px;
}

    .newsletter .news_card{
        width: 75vw;
      }

    }

  